@import "../../../style/globals.scss";

:host {
  display: block;

  .slider-container {
		margin-top: 30px;
    display: block;
		position: relative;
  }

  .slider-ribbon-container {
    position: relative;
    height: 26px;
		z-index: 1;
		margin: 0 13px;
	}

  .range-ribbon {
    position: absolute;
    width: 100%;
    height: 8px;
    border: 1px solid $blue;
    background-color: #E2F0FF;
    color: #323232;
    top: 6px;
		z-index: 1;
		max-width: 100%;
  }

  .range-ribbon-fill {
    position: absolute;
    height: 100%;
    background-color: $blue;
  }

  .slider-handle {
    position: absolute;
    border: 1px solid $blue;
    margin: 0;
    padding: 0;
		border-radius: 50%;
    background-color: $blue;
		width: 30px;
		height: 30px;
		transform: translate(-13px, -6px);
    box-sizing: content-box;
		z-index: 2;

    &::-moz-focus-inner {
      border: 0;
    }

    &:focus {
      outline: none;
    }

		input {
			position: absolute;
			top: -27px;
			left: -10px;
			color: $blue;
			font-size: 16px;
			font-weight: 700;
			padding: 0;
			line-height: 1.2;
			width: auto;
			max-width: 50px;
			text-align: center;
			border: none;
			background-color: #fff;
			cursor: pointer;
			transition: border .2s;

			&:focus {
				border: 1px solid $blue;
			}
		}
  }

  .slider-handle.sliding {
    background-color: $blue;
  }

  .range-slider {
    margin: 60px 0 0 0;
  }

	.slider-inputs {
		display: flex;
		justify-content: space-between;
		margin: 0 4px;

		&__wrap {
			max-width: 150px;
		}

		&__label {
			font-size: 12px;
			line-height: 14px;
		}

		&__input {
			border-color: $blue;
			color: $blue;
			padding: 4px 8px;
			font-size: 12px;
			line-height: 14px;
			margin: 0;
		}
	}

  .slider-ticks {
    height: 20px;
    overflow: visible;
    display: flex;
		justify-content: space-between;
		width: calc(100% - 26px);
    white-space: nowrap;
    font-size: 0.7em;
		top: 0;
		left: 13px;
		position: absolute;

		&.year,
		&.count {
			span {
				display: none;
			}
			.slider-tick:first-child,
			.slider-tick:last-child {
				span {
					display: inline-block;
				}
			}

		}
	}
  .slider-tick {
    display: inline-block;
    height: 40px;
		top: -55px;
		margin-top: 6px;
		position: relative;

		span {
			position: absolute;
			bottom: 0;
			transform: translateX(-50%);
		}
  }
  .slider-tick:last-of-type {
		width: auto !important;
  }

	.compact {
		.slider-tick {
			height: 20px;
			margin-top: 0;
			top: -20px;
		}

		.slider-handle {
			width: 20px;
			height: 20px;
			border-radius: 4px;

			&:first-of-type,
			&:last-of-type {
				transform: translate(-50%, -1px);
			}
		}
	}
}
