@import "../../../../../style/globals.scss";

:host {
  .form-subindicator {
    width: 100%;
  }

	.form-group {
		margin-top: 50px;

		label {
			font-weight: 700;
		}
	}

	label {
		height: 28px;
		&.mb {
			&_20 {
				margin-bottom: 20px;
			}
		}
		&.fw {
			&_700 {
				font-weight: 700;
			}
		}
	}

  .dialog-button {
    margin-left: auto;
  }

  .weight-selects {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    font-size: 0.8em;

    .weight-select {
      width: 100%;
      display: inline-block;

      @include respond-to(medium-up) {
        width: 50%;
      }

      padding-right: 8px;
      padding-bottom: 3px;
    }

    .weight-slider {
      width: 85%;
      display: inline-block;
      height: 22px;
      slider {
        margin-top: -8px;
      }
    }

    .weight-value {
      width: 10%;
      display: inline-block;
      vertical-align: top;
      margin-top: -4px;
    }

		::ng-deep {
			.slider-container.compact {
				margin-top: 5px;
			}
		}
  }

	.graph-title.average {
		display: flex;
		align-items: center;
		min-height: auto;
		max-height: initial;
		padding: 20px 0 10px;
		border-bottom: 1px solid $blue;
	}

	.graph-title-content {
		font-size: 28px;
		margin-top: 6px;
	}

	.graph-title-score {
		font-weight: 400;
	}

	::ng-deep {
		.form-subindicator {
			background-position: 96% 50%;
		}
		.search-filter-buttons {
			border-bottom: 1px solid $blue;
			padding-bottom: 10px;
			h1 {
				font-size: 28px;
				line-height: 67px;
			}

			.select-filter-btn {
				margin-left: auto !important;
			}
		}
	}
}
